body {
  background-color: #fffdfc;
  font-family: Arial, Helvetica, sans-serif;
  color: #0f0f0f;
  font-size: 1rem;
}

.content-wrapper {
  padding: 0 5vw;
  min-height: calc(100vh - 60px - 100px - 48px);
  width: 100vw;
  max-width: 1800px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding: 0 10vw;
  }
}
.header {
  background-color: #1d3354;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
  height: 60px;
  width: 100vw;
  margin: 0;
  color: #fffdfc;
}
.header__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__link {
  text-decoration: none;
  color: #e9fff9;
}
.header__link:hover {
  color: #ee2c32;
}
.header__link--active {
  color: #ee2c32;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ee2c32;
}

@media (max-width: 450px) {
  .header {
    padding: 0 5vw;
  }
}
.footer {
  background-color: #1d3354;
  height: 100px;
  width: 100vw;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #fff;
}
.footer__link, .footer__email {
  color: #e9fff9;
}

.hero {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../assets/imgs/calculator.jpg") no-repeat center center/cover;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
}
.hero__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #145d96;
}
.hero__subtitle {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.link-box {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.link-box__item {
  text-align: center;
}
.link-box__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}
.link-box__link {
  display: block;
  color: #0f0f0f;
  text-decoration: none;
  padding: 2rem;
  border: 1px solid #1d3354;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.link-box__link:hover {
  background-color: #1d3354;
  color: #e9fff9;
}
.link-box__link:hover .link-box__title {
  color: #ffaf7a;
}
.link-box__text {
  font-size: 0.8rem;
}

.how-it-works {
  background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, #9ed8db 100%);
  padding: 2rem;
  margin: 2rem 0;
  box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}
.how-it-works__text-box {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .how-it-works__text-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
.how-it-works__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #145d96;
}
.how-it-works__topic-title {
  font-weight: 700;
  color: #ee2c32;
}