body {
  background-color: #fffdfc;
  font-family: Arial, Helvetica, sans-serif;
  color: #0f0f0f;
}

.content-wrapper {
  min-height: calc(100vh - 60px - 100px - 48px);
}

.header {
  background-color: #1D3354;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 60px;
  width: 100vw;
  margin: 0;
}
.header * {
  color: #fff;
}
.header__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__link {
  text-decoration: none;
  color: #E9FFF9;
}
.header__link:hover {
  color: #ee2c32;
}
.header__link--active {
  color: #ee2c32;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ee2c32;
}

.footer {
  background-color: #1D3354;
  height: 100px;
  width: 100vw;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #fff;
}
.footer__link, .footer__email {
  color: #E9FFF9;
}

.hero {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../assets/imgs/calculator.jpg") no-repeat center center/cover;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
}
.hero__title {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: #145d96;
}
.hero__subtitle {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.link-box__item {
  text-align: center;
}
.link-box__title {
  transition: color 0.3s ease; /* Keeps the color swap smooth */
}
.link-box__link {
  display: block;
  color: #0f0f0f;
  text-decoration: none;
  padding: 1.5rem;
  border: 1px solid #1D3354;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.link-box__link:hover {
  background-color: #1D3354;
  color: #E9FFF9;
}
.link-box__link:hover .link-box__title {
  color: #ffaf7a;
}

.how-it-works {
  background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, #9ED8DB 100%);
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5px;
}
.how-it-works__title {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: #145d96;
}
.how-it-works__text-item {
  font-size: 1rem;
}
.how-it-works__topic-title {
  font-weight: bold;
  color: #ee2c32;
}