// * ========================================
// * IMPORTS
// * ========================================
@use "Variables" as v;

// * ========================================
// * STYLES
// * ========================================

body {
	background-color: v.$background-white;
	font-family: Arial, Helvetica, sans-serif;
	color: v.$text-black;
	font-size: v.$font-size-medium;
	display: flex;
	flex-direction: column;
}

header,
footer {
	flex-shrink: 0;
}

.content-wrapper {
	padding: 0 v.$container-padding-side-mobile;
	max-width: v.$container-max-width;
	margin: 0 auto;
	flex-grow: 1;
}

.calculator-banner__image {
	height: 10rem;
	width: 100%;
	background-size: cover;
	object-fit: cover;
}

@media (min-width: v.$screen-breakpoint-medium) {
	.content-wrapper {
		padding: 0 v.$container-padding-side;
	}
}
