// * ========================================
// * IMPORTS
// * ========================================
@use "Variables" as v;

// * ========================================
// * STYLES
// * ========================================
body {
	background-color: v.$main-white-color;
	font-family: Arial, Helvetica, sans-serif;
	color: v.$main-black-color;
	font-size: v.$font-size-medium;
}

.content-wrapper {
	padding: 0 v.$container-padding-side-mobile;
	min-height: calc(100vh - v.$header-height - v.$footer-height - 48px);
	max-width: v.$container-max-width;
	margin: 0 auto;
}

@media (min-width: v.$screen-breakpoint-medium) {
	.content-wrapper {
		padding: 0 v.$container-padding-side;
	}
}
