// * ========================================
// * IMPORTS
// * ========================================
@use "Variables" as v;

.footer {
	background-color: v.$main-blue-color;
	height: v.$footer-height;
	margin-top: 1rem;
	text-align: center;
	padding: v.$padding-small;
	font-size: v.$font-size-small;
	color: v.$main-white-color;

    &__link, &__email {
        color: v.$baby-blue-color;
    }
}
