// * ========================================
// * IMPORTS
// * ========================================
@use "Variables" as v;

.footer {
	background-color: v.$main-blue-color;
	height: v.$footer-height;
	width: 100vw;
	margin-top: 1rem;
	text-align: center;
	padding: 1rem;
	font-size: 0.9rem;
	color: #fff;

    &__link, &__email {
        color: v.$baby-blue-color;
    }
}
