// * ========================================
// * IMPORTS
// * ========================================
@use "Variables" as v;

.header {
	background-color: v.$main-color;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	height: v.$header-height;
	width: 100vw;
	margin: 0;

	* {
		color: #fff;
	}

	&__title {
		font-size: 1.5rem;
		font-weight: bold;
	}

	&__nav {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	&__link {
		text-decoration: none;
		color: v.$text-color-light;

		&:hover {
			color: v.$call-to-action-color;
		}

		&--active {
			color: v.$call-to-action-color;
			padding-bottom: 0.5rem;
			border-bottom: 2px solid v.$call-to-action-color;
		}
	}
}
