// * ========================================
// * COLOR VARIABLES
// * ========================================
$main-color: #ca431a;
$secondary-color-dark: #a70000;
$secondary-color-light: #ffbba7;
$background-white: #fffdfc;
$text-color-light: #fffdfc;
$text-color-dark: #0f0f0f;

// * ========================================
// * SIZING VARIABLES
// * ========================================
$header-footer-height: 60px;