// * ========================================
// * COLOR VARIABLES
// * ========================================
$main-color: #1D3354;
$call-to-action-color: #ee2c32;
$secondary-color-dark: #145d96;
$secondary-color-light: #9ED8DB;
$tertiary-color: #ffaf7a;
$background-white: #fffdfc;
$text-color-light: #E9FFF9;
$text-color-dark: #0f0f0f;

// * ========================================
// * SIZING VARIABLES
// * ========================================
$header-height: 60px;
$footer-height: 100px;