// * ========================================
// * IMPORTS
// * ========================================
@use "Reset";
@use "Variables" as v;
@use "Common";
@use "Header";
@use "Footer";

// * ========================================
// * MOBILE/GENERAL STYLES
// * ========================================
.content-intro {
	&__title {
		font-size: v.$font-size-title;
		color: v.$l-theme-secondary;
		margin: v.$margin-large 0;
	}
}
.calculator-banner__image {
	height: 10rem;
	width: 100%;
	background-size: cover;
	object-fit: cover;
}

.calculator {
	background-color: v.$l-theme-box-background;
	padding: v.$padding-medium v.$padding-large;
	margin: v.$margin-large 0;
	border-radius: v.$border-radius-small;

	&__input-box {
		padding: v.$padding-small 0;
		align-items: center;
		padding: v.$padding-small 0;

		& > .calculator__label,
		& > .calculator__text-input,
		& > .calculator__radio-group {
			display: inline-block;
			width: 100%;
		}

		&--hidden {
			display: none !important;
		}
	}

	&__label {
		display: block;
		padding: 0;
	}

	&__text-input {
		border: v.$border-thin v.$l-theme-box-border;
		border-radius: v.$border-radius-small;
		padding: v.$padding-smaller;

		&--error {
			border-color: v.$call-to-action-color;
		}
	}

	&__radio-group {
		text-align: center;
		background-color: v.$background-white;
		border-radius: v.$border-radius-small;
		padding: v.$padding-small;
		border: v.$border-thin v.$l-theme-box-border;
		display: flex;
		flex-direction: column;

		& > .calculator__radio-label {
			display: inline-block;
		}
	}

	&__submit {
		display: block;
		margin: v.$margin-medium auto;
		padding: v.$padding-smaller v.$padding-large;
		background-color: v.$l-theme-text-soft-highlight;
		border: v.$border-thin v.$l-theme-secondary;
		border-radius: v.$border-radius-small;
		color: v.$l-theme-primary;
		cursor: pointer;
	}

	&__error-box {
		background-color: v.$error-background-color;
		border: v.$border-thin v.$call-to-action-color;
		padding: v.$padding-smaller v.$padding-small;

		&--hidden {
			display: none;
		}
	}
}

.related-info {
	padding: v.$padding-medium;

	&__title {
		color: v.$l-theme-secondary;
		font-size: v.$font-size-larger;
		margin-bottom: v.$margin-medium;
	}

	&__card {
		display: block;
		border: v.$border-thin v.$l-theme-box-border;
		border-radius: v.$border-radius-medium;
		overflow: hidden;
		text-decoration: none;
		color: v.$text-black;
	}

	&__image {
		height: 150px;
		width: 100%;
		background-size: cover;
		object-fit: cover;
	}

	&__card-title {
		font-size: v.$font-size-large;
		margin: v.$margin-small;
	}

	&__description {
		margin: v.$margin-small;
	}
}

// * ========================================
// * DESKTOP STYLES
// * ========================================

@media (min-width: v.$screen-breakpoint-medium) {
	.content-wrapper {
		@include v.custom-grid(3fr 2fr, v.$margin-large);
	}

	.calculator {
		&__input-box {
			display: flex;
			justify-content: space-evenly;
		}

		&__text-input,
		&__radio-group {
			width: 65%;
		}

		&__radio-group {
		flex-direction: row;
	}

		&__label {
			width: 30%;
			min-width: fit-content;
		}
	}
}
