// * ========================================
// * IMPORTS
// * ========================================
@use "Reset";
@use "Variables" as v;
@use "Common";
@use "Header";
@use "Footer";

// * ========================================
// * STYLES
// * ========================================

.content-intro {
	&__image {
		height: 10rem;
		width: 100%;
		background-size: cover;
		object-fit: cover;
	}
	&__title {
		font-size: v.$font-size-title;
		color: v.$vivid-blue-color;
		margin: v.$margin-medium 0;
	}
}

.calculator {
	background-color: v.$light-gray-color;
	padding: v.$padding-small v.$padding-medium;
	margin: v.$margin-medium 0;
	border-radius: v.$border-radius-small;

	&__input-box {
		padding: v.$padding-smaller;

		& * {
			display: inline-block;
			width: 100%;
		}
	}

	&__number-input {
		border: 1px v.$peach-color solid;
		border-radius: v.$border-radius-small;

        &--error {
            border-color: v.$call-to-action-color;
        }
	}

	&__submit {
		display: block;
		margin: v.$margin-small auto;
	}

	&__error-box {
		background-color: v.$error-background-color;
        border: 1px v.$call-to-action-color solid;
        padding: v.$padding-smaller;

		&--hidden {
			display: none;
		}
	}
}

@media (min-width: v.$screen-breakpoint-small) {
	.calculator {
		&__input-box {
			display: flex;
			justify-content: space-evenly;

			& * {
				display: inline;
			}
		}

		&__number-input {
			width: 65%;
		}

		&__label {
			width: 30%;
			min-width: fit-content;
		}
	}
}
