// * ========================================
// * IMPORTS
// * ========================================
@use "Reset";
@use "Variables" as v;
@use "Common";
@use "Header";
@use "Footer";

// * ========================================
// * STYLES
// * ========================================
.hero {
	background:
		linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
		url("../../assets/images/index-hero-calculator.jpg") no-repeat center center / cover;
	text-align: center;
	padding: v.$padding-medium;
	margin: 2rem 0;

	&__title {
		font-size: v.$font-size-title;
		font-weight: v.$font-weight-bold;
		margin-bottom: 1rem;
		color: v.$vivid-blue-color;
	}

	&__subtitle {
		font-size: v.$font-size-medium;
		margin-top: 0.5rem;
	}
}

.link-box {
	@include v.custom-grid;

	&__item {
		text-align: center;
	}

	&__title {
		font-size: v.$font-size-large;
		margin-bottom: 0.5rem;
		transition: color v.$smooth-transition;
	}

	&__link {
		display: block;
		color: v.$main-black-color;
		text-decoration: none;
		padding: v.$padding-medium;
		border: 1px solid v.$main-blue-color;
		border-radius: 5px;
		transition:
			background-color v.$smooth-transition,
			color v.$smooth-transition;

		&:hover {
			background-color: v.$main-blue-color;
			color: v.$baby-blue-color;
		}
	}

	&__text {
		font-size: v.$font-size-small;
	}
}

.how-it-works {
	background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, v.$light-blue-color 100%);
	padding: v.$padding-medium;
	margin: 2rem 0;
	box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	&__text-box {
		@include v.custom-grid(3);
	}

	&__title {
		font-size: v.$font-size-large;
		font-weight: v.$font-weight-bold;
		margin-bottom: 1rem;
		color: v.$vivid-blue-color;
	}

	&__topic-title {
		font-weight: v.$font-weight-bold;
		color: v.$call-to-action-color;
	}
}
