// * ========================================
// * IMPORTS
// * ========================================
@use "Reset";
@use "Variables" as v;
@use "Common";
@use "Header";
@use "Footer";

// * ========================================
// * STYLES
// * ========================================
.hero {
	background:
		linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
		url("../../assets/images/index-hero-calculator.jpg") no-repeat center center / cover;
	text-align: center;
	padding: v.$padding-medium;
	margin: v.$margin-large 0;

	&__title {
		font-size: v.$font-size-title;
		font-weight: v.$font-weight-bold;
		margin-bottom: v.$margin-medium;
		color: v.$l-theme-secondary;
	}

	&__subtitle {
		font-size: v.$font-size-medium;
		margin-top: v.$margin-small;
	}
}

.link-box {
	@include v.custom-grid;

	&__item {
		text-align: center;
		// 1. Turn the item into a column flexbox so its children can stretch
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: v.$font-size-large;
		margin-bottom: v.$margin-small;
		transition: color v.$smooth-transition;
	}

	&__link {
		// 2. Change this to flex or keep block, but add height: 100%
		display: flex;
		flex-direction: column;
		justify-content: center; // Centers text vertically if they are different heights
		height: 100%; 
		
		color: v.$text-black;
		text-decoration: none;
		padding: v.$padding-medium;
		border: v.$border-thin v.$l-theme-primary;
		border-radius: v.$border-radius-small;
		transition:
			background-color v.$smooth-transition,
			color v.$smooth-transition;

		&:hover {
			background-color: v.$l-theme-primary;
			color: v.$l-theme-text-soft-highlight;
		}
	}

	&__text {
		font-size: v.$font-size-small;
	}
}

.how-it-works {
	background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, v.$l-theme-background-highlight 100%);
	padding: v.$padding-medium;
	margin: v.$margin-large 0;
	box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	&__text-box {
		@include v.custom-grid(3);
	}

	&__title {
		font-size: v.$font-size-large;
		font-weight: v.$font-weight-bold;
		margin-bottom: v.$margin-small;
		color: v.$l-theme-secondary;
	}

	&__topic-title {
		font-weight: v.$font-weight-bold;
		color: v.$call-to-action-color;
	}
}
